@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  color: #fff;
}

.App{
    background-color: #212423;
    font-family: 'Manrope', sans-serif;
}

@media screen and (min-width: 750px) {
  .App::-webkit-scrollbar{
    width: 9px;
}

.App::-webkit-scrollbar-track{
    background-color: #313231;
}

.App::-webkit-scrollbar-thumb{
    background-color: #454545;
    border-radius: 20px;
    border: 3px solid #313231;
}
}

