.searchfeed{
    background-color: #1c1c1c;
    font-family: 'Manrope', sans-serif;
}

.searchQ{
    padding: 1rem;
}

@media screen and (min-width: 750px) {
    .searchfeed,
    .nothing{
        margin-left: 20%;
        height: 100vh;
    }

    .nothing{
        padding-top: 8rem;
    }
}